:root {
  --searcher-bg: #dce0eb;
  --blue-ball-bg: #225076;
  --mustard-ball-bg: #e9b47d;
  --balck-ball-bg: #282224;
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --search-list-color: white;
  --search-list-item-hover-bg: #3399fe;
}
.searcher {
  width: 100%;
  background-color: var(--searcher-bg);
  min-height: 18em;
  margin: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}
.searcher__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.searcher__butterfly {
  width: 40px;
  min-height: 40px;
}
.searcher__title {
  text-align: center;
}
.blue__ball {
  width: 50px;
  height: 53px;
  background-color: var(--blue-ball-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mustard__ball {
  width: 30px;
  height: 30px;
  background-color: var(--mustard-ball-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black__ball {
  width: 10px;
  height: 10px;
  background-color: var(--balck-ball-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searcher__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searcher__greenBall {
  max-width: 1.7em;
  position: relative;
  left: 2.5em;
  z-index: 300;
}
.searcher__searchBar {
  width: 50%;
  position: relative;
  z-index: 200;
}
.searcher__input {
  width: 100%;
  min-height: 4em;
  height: 100%;
  padding: 0 3.5em;
  border-radius: 2em;
  border: none;
  box-shadow: var(--shadow);
  position: inherit;
  z-index: 200;
}
.searcher__input:focus {
  outline: none;
}

.searcher__btn {
  position: relative;
  width: 2.5em;
  border-radius: 2em;
  font-size: 1.5rem;
  right: 2.5em;
  border: none;
  background-color: inherit;
  cursor: pointer;
  z-index: 300;
}
.searcher__search__list {
  width: 100%;
  position: absolute;
  top: 1.8em;
  padding-top: 1.6em;
  background-color: var(--search-list-color);
  z-index: 100;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.searcher__search__list__item {
  padding: 1em 3.5em;
  cursor: pointer;
}
.searcher__search__list__item:hover {
  background-color: var(--search-list-item-hover-bg);
}
